:root {
  --mobile: 375px;
  --desktop: 1440px;
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --font-family: 'Outfit', sans-serif;
}
 
body{
  font-family: var(--font-family);
  background-color: var(--slate-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: var(--white);
  padding: 16px;
  border-radius: 20px;
  text-align: center;
  max-width: 320px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.container:hover {
  transform: scale(1.02);
}

.container img {
  width: 100%;
  border-radius: 10px;
}

.container h1 {
  color: var(--slate-900);
  font-size: 22px;
  font-weight: 700;
  margin: 24px 0 16px;
}

.container p {
  color: var(--slate-500);
  font-size: 15px;
  font-weight: 400;
  padding: 0 16px;
  margin-bottom: 24px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin-top: 20px; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

body { font-size: 16px; }
.container { width: 90%; margin: 0 auto; }



@media (min-width: 768px) {
    body { font-size: 18px; }
    .container { width: 80%; }
}

@media (min-width: 500px) {
    body { font-size: 20px; }
    .container { width: 70%; max-width: 320px; }
}
